<nav class="navbar navbar-expand-lg navbar-dark bg-primary"
     th:fragment="navbar"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">Beauty by Saly</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">

                <!-- Opciones CLIENTE -->
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/vistaAdministrador}">administrador</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/mis-ordenes}">Agendar Cita</a>
                </li>
                <!-- jemima lo ves ? xD -->
                <!-- Opciones TRABAJADOR -->
                <li class="nav-item" sec:authorize="hasRole('TRABAJADOR')">
                    <a class="nav-link" th:href="@{/ordenes}">Mis Horarios</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('TRABAJADOR')">
                    <a class="nav-link" th:href="@{/clientes}">Mi Perfil</a>
                </li>

                <!-- Opciones ADMIN -->
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/usuarios}">Mis trabajadores</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/reportes}">RP Citas</a>
                </li>

            </ul>

            <!-- Usuario logueado + Logout -->
            <div class="d-flex">
                <span class="navbar-text text-white me-3" sec:authentication="nombre"></span>
                <a class="btn btn-outline-light" th:href="@{/logout}">iniciar sesion</a>
            </div>
        </div>
    </div>
</nav>