<nav class="navbar navbar-expand-lg navbar-dark bg-primary"
     th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">Beauty by Saly</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <!-- prueba de rama -->
                <!-- Opciones CLIENTE -->
                <li class="nav-item" sec:authorize="hasRole('CLIENTE')">
                    <a class="nav-link" th:href="@{/vistaCliente}">¿Quienes somos?</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('CLIENTE')">
                    <a class="nav-link" th:href="@{/citas/nueva}">Agendar Cita</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('CLIENTE')">
                    <a class="nav-link" th:href="@{/resennas/crear}">Reseña Nueva</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('CLIENTE')">
                    <a class="nav-link" th:href="@{/resennas/misResennas}">Reseñas realizadas</a>
                </li>

                <!-- Opciones TRABAJADOR -->
                <li class="nav-item" sec:authorize="hasRole('TRABAJADOR')">
                    <a class="nav-link" th:href="@{/trabajadores}">Mis Horarios</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('TRABAJADOR')">
                    <a class="nav-link" th:href="@{trabajadores/details}">Mi Perfil</a>
                </li>

                <!-- Opciones ADMIN -->
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/trabajadores}">Mis trabajadores</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/citas/listarCitas}">RP Citas</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/servicios}">Servicios</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/horarios}">Horarios</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/citas}">Ver citas</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/resennas}">Ver reseñas</a>
                </li>
            </ul>

            <!-- Si el usuario NO está autenticado -->
            <div sec:authorize="!isAuthenticated()">
                <a class="btn btn-outline-light" th:href="@{/login}">Iniciar sesión</a>
            </div>

            <!-- Si el usuario SÍ está autenticado -->
            <div sec:authorize="isAuthenticated()">
              <span class="navbar-text text-white me-3">
              <strong sec:authentication="name"></strong> |
              <span class="text-warning" sec:authentication="principal.authorities"></span>
             </span>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-outline-light">Cerrar sesión</button>
                </form>
            </div>
        </div>
    </div>
</nav>
